/* ALL */
* {
    box-sizing: border-box; 
    font-weight: 100;
    margin: auto; 
    font-family: 'Conv_Proxima Nova Bold', sans-serif
}
a{
    text-decoration: none;   
    color: inherit;
}


/* HEADER */
.header{
    background-color: #26272b;
    color: white;
    padding: 3px;
    font-size: 16px;
    margin: 0; 
}
.banner{
    font-size: 15px;
}
.header-a{
    background-color: #33363b;
    color: white;
    padding: 14px 25px;
    border-radius: 10px;
}
.header-a:hover{
    background-color: #2e3135;
    color: white;
    padding: 14px 25px;
    border-radius: 10px;
}

/* FOOTER */
.footer {
    background-color: #26272b;
    color: white;
    padding: 3px;
    font-size: 14px;
    margin-top: 50px; 
    margin: 0;
}
.footer-title{
    font-size: 16px;
}


/* GRID SYSTEM */
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-0 {width: 4.15%;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-3-5 {width: 31%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.float-right{
    float: right;
    display: flex;  
    justify-content: center;  /**align horizontal   */
    align-items: center;  /**align vertical  */
}

/* CONTENT */
.content{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 6px;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #ffffff;
}  

/* BUTTON */
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* MENU */
.menu{
    position: fixed;
    margin-left: 60px;
}
.goldbar-menu{
    background-color: #052e58;
    padding: 13 0;
    height: 40px;
    text-align: center;
    font-weight: bold;
    color: white;
}
.goldbar-tab{
    background-color: white;
    font-size: 10px;
    padding: 10 0;
}
.goldbar-tab:hover{
    color: white;
    background-color: #2f80db;
}
.goldbar-tab-clicked{
    background-color: #2f80db;
    font-size: 10px;
    padding: 10 0;
}
.buy-black{
    background-image: url("../file_image/buy-gold-black.png");
    width: 29px;
    height: 36px;
    color: black;
}
.buy-black:hover {
    background-image: url("../file_image/buy-gold-white.png");
    width: 29px;
    height: 36px;
    color: white;
}
.buy-white{
    background-image: url("../file_image/buy-gold-white.png");
    width: 29px;
    height: 36px;
    color: black;
}
.sell-black{
    background-image: url("../file_image/sell-gold-black.png");
    width: 29px;
    height: 36px;
    color: black;
}
.goldbar-tab:hover .sell-black:hover {
    background-image: url("../file_image/sell-gold-white.png");
    width: 29px;
    height: 36px;
    color: white;
}
.sell-white{
    background-image: url("../file_image/sell-gold-white.png");
    width: 29px;
    height: 36px;
    color: black;
}
.font-white{
    color: white;
}

/* TABLE */
table {
    border-collapse: collapse;
    width: 100%;
}

thead{
    font-size: 25px;
}

td {
    white-space: inherit;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover{background-color:#f5f5f5}

/* PRODUCT */
.value{
    width: 70px;
    text-align: center;
    height: 50px;
    font-size: 20px;
}

/* CART */
.cart{
    position: fixed;
    float: right;
    right: 20px;
}
.cart-title{
    background-color: #052e58;
    color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}
.cart-price{
    width: 100px;
    border: none;
    font-size: 14px;    
    font-weight: 900        
}
.cart-purchase{
    background-color: #4CAF50; /* Green */
    border: none; 
    color: white;
    padding: 15px 30px;
    text-align: center; 
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}
select {
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 1px solid #AAA;
   color: #555;
   font-size: 13px;
   overflow: hidden;
    padding: 5px 10px; 
   text-overflow: ellipsis;
   white-space: nowrap;
   width: 90%;
}