/* ALL */
* {
    box-sizing: border-box;  
    font-weight: 100;
    margin: auto; 
    font-family: 'Conv_Proxima Nova Bold', sans-serif
}
a{
    text-decoration: none;   
    color: inherit;
}


/* HEADER */
.header{
    background-color: #26272b;
    color: white;
    padding: 3px;
    font-size: 16px;
    margin: 0; 
}
.banner{
    font-size: 15px;
}
.header-a{
    background-color: #33363b;
    color: white;
    padding: 14px 25px;
    border-radius: 10px;
}
.header-a:hover{
    background-color: #2e3135;
    color: white;
    padding: 14px 25px;
    border-radius: 10px;
}

/* FOOTER */
.footer {
    background-color: #26272b;
    color: white;
    padding: 3px;
    font-size: 14px;
    margin-top: 50px; 
    margin: 0;
}
.footer-title{
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 10px;
}
.footer-content{
    font-size: 13px;
    margin-bottom: 3px;
}


/* GRID SYSTEM */
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-0 {width: 4.15%;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-3-5 {width: 31%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.col-10-percent {width: 10%}
.col-20-percent {width: 20%}
.float-right{
    float: right;
    display: flex;    
    justify-content: center;  /**align horizontal   */
    align-items: center;  /**align vertical  */
}
.center{
    text-align: center;
    align-content: center;
}

/* CONTENT */
.content{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 6px;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #ffffff;
}  

/* BUTTON */
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button:hover {
    background-color: #409943;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

/* MENU */
.menu{
    position: fixed;
    margin-left: 60px;
}
.goldbar-menu{
    background-color: #052e58;
    padding: 13 0;
    height: 40px;
    text-align: center;
    font-weight: bold;
    color: white;
}
.goldbar-tab{
    background-color: white;
    font-size: 10px;
    padding: 10 0;
}
.goldbar-tab:hover{
    color: white;
    background-color: #2f80db;
}
.goldbar-tab-clicked{
    background-color: #2f80db;
    font-size: 10px;
    padding: 10 0;
}
.buy-black{
    background-image: url("../file_image/buy-gold-black.png");
    width: 29px;
    height: 36px;
    color: black;
}
.buy-black:hover {
    background-image: url("../file_image/buy-gold-white.png");
    width: 29px;
    height: 36px;
    color: white;
}
.buy-white{
    background-image: url("../file_image/buy-gold-white.png");
    width: 29px;
    height: 36px;
    color: black;
}
.sell-black{
    background-image: url("../file_image/sell-gold-black.png");
    width: 29px;
    height: 36px;
    color: black;
}
.goldbar-tab:hover .sell-black:hover {
    background-image: url("../file_image/sell-gold-white.png");
    width: 29px;
    height: 36px;
    color: white;
}
.sell-white{
    background-image: url("../file_image/sell-gold-white.png");
    width: 29px;
    height: 36px;
    color: black;
}
.font-white{
    color: white;
}

/* TABLE */
table {
    border-collapse: collapse;
    width: 100%;
}

thead{
    font-size: 25px;
    /*position: fixed;
    text-align: left;
    background-color: white;*/
}

td {
    white-space: inherit;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover{background-color:#f5f5f5}

/* PRODUCT */
.value{
    width: 70px;
    text-align: center;
    height: 50px;
    font-size: 20px;
}

/* CART */
.cart{
    position: fixed;
    float: right;
    right: 20px;
}
.cart-title{
    background-color: #052e58;
    color: white;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}
.cart-price{
    width: 100px;
    border: none;
    font-size: 14px;    
    font-weight: 900        
}
.cart-purchase{
    background-color: #4CAF50;
    border: none; 
    color: white;
    padding: 15px 30px;
    text-align: center; 
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}
.cart-purchase:hover{
    background-color: #409943;
    border: none; 
    color: white;
    padding: 15px 30px;
    text-align: center; 
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}
select {
    border: 1px solid #AAA; 
   color: #555;
   font-size: 13px;
    padding: 5px 10px; 
   width: 90%;
}

/* LOGIN */
.login{
    text-align: center;
    align-content: center;
    width: 25%; 
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 6px;
    margin-top: 15px;
    color: inherit;
    background-color: #ffffff;
}
.login-title{
    font-size: 24;
}
.login-label{
    text-align: left;
    font-size: 15;
    font-weight: 900;
    margin-bottom: 5px;
}
.login-input{
    padding: 10px;
    height: 40px;
    width: 300px;
    font-size: 18;
    margin-bottom: 20px;
}
.login-submit{
    background-color: #4CAF50;
    border: none; 
    color: white;
    padding: 15px 30px;
    text-align: center; 
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 20px;
}
.login-submit:hover{
    background-color: #409943;
    border: none; 
    color: white;
    padding: 15px 30px;
    text-align: center; 
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 20px;
}
.register-here{
    color: #2f80db;
}
.register-submit{
    background-color: #4CAF50;
    border: none; 
    color: white;
    padding: 15px 30px;
    text-align: center; 
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}
.register-submit:hover{
    background-color: #409943;
    border: none; 
    color: white;
    padding: 15px 30px;
    text-align: center; 
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}


/* LANDING PAGE */
.home{
    background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/H8WuRINimqur8ud/concept-business-background_sbebgto1el_thumbnail-full01.png');
}
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
	min-width: 100%;
	min-height: 100%;
	-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('../file_image/bg.png') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
}
.landing{
    margin-top: 100px;
    margin-bottom: 130px;
}
.landing-title-main{
    margin-bottom: 30px;
}
.landing-title{
    font-size: 55px;
    color: white;
}
.landing-highlight-title{
    font-size: 55px;
    color: #ff7700;
}
.landing-content{
    padding: 100 0;
    background-color: white;
}
.white{
    /* font-size: 30px; */
    color: white;
    margin-bottom: 10px;
}
.black{
    color: black;
}
.register{
    background: url('../file_image/bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 150px;
}

/* MODAL */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    font-size: 18px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 20px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
    padding: 20px 16px;
}
.modal-button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 25px;
    border-radius: 10px;
}
.modal-button:hover{
    background-color: #409943;
    color: white;
    padding: 14px 25px;
    border-radius: 10px;
}