<html>
    <head>
        <title>ciazhar store</title>
        <link rel="stylesheet" href="../file_css/style.css">
    </head>
    <body ng-app="sellapp" bgcolor="#eaeaea">
        <div ng-controller="sellController">
            <!-- HEADER -->
            <div class="row header">
                <div class="col-1"></div>
                <div class="banner col-6"> 
                    <a href="index.html">
                        <img src="../file_image/ciazhar.png" alt="" height="50px" width="125px">
                        your gold solution
                    </a>
                </div> 
                <div class="col-1 float-right" style="margin-right:20px;"><a href="index.html" class="header-a">Logout</a></div>
                <!-- <div class="col-1 float-right"><a href="index.html#register" class="header-a">Register</a></div> -->
            </div>
            

            <!-- MIDDLE  -->
            <div class="row">
                <div class="col-0"></div>
                <!-- MENU -->
                <div class="col-2 menu">
                    <div class="goldbar-menu">MENU</div>
                    <div class="goldbar-tab-clicked">
                        <a href="buy.html">
                            <center>
                                <div class="row">
                                    <div class="buy-white"></div>   
                                </div>
                                <div class="font-white">BELI EMAS</div>
                            </center>
                        </a>
                    </div>
                    <div class="goldbar-tab">
                        <a href="sell.html">
                            <center>
                                <div class="row">
                                    <div class="sell-black"></div>   
                                </div>
                                <div class="">JUAL EMAS</div>
                            </center>
                        </a>
                    </div>
                </div>

                <!-- CONtENT -->
                <div class="col-2"></div>
                <div class="col-6 content">
                    <table>
                        <thead>
                            <td width="10%">Deskripsi</td>
                            <td></td> 
                            <td>Harga</td>
                            <td>Jumlah</td>
                        </thead>
                        <tr ng-repeat="barang in sellList.product">  
                            <td >
                                <img class="" src="../file_image/{{barang.image}}" alt="" height="100px">        
                            </td>
                            <td><h3 class="">{{barang.name}}</h3> </td>
                            <td>Rp. {{barang.harga}} ,-</td>
                            <td>
                                <input type="button" class="button" value="-" ng-click="kurang(barang)">
                                <input type="text" class="value" value="{{barang.jumlah}}">
                                <input type="button" class="button" value="+" ng-click="tambah(barang)">
                            </td>
                        </tr>

                    </table>
                </div> 

                <!-- CART -->
                <div class="col-3 content cart">
                    <div class="cart-title">TOTAL HARGA</div>
                    <table>
                        <tr>
                            <td>Harga</td>
                            <td><input type="text" class="cart-price" value="Rp {{sellList.totalPrice}},-" readonly></td> 
                        </tr>
                        <tr>
                            <td>Jenis Bank</td>
                            <td>
                                <select name="" id="">
                                    <option value="">BCA</option>
                                    <option value="">BNI</option>
                                    <option value="">BRI</option>
                                    <option value="">Mandiri</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Periode Cicilan</td>
                            <td>
                                <select name="" id="">
                                    <option value="">3 Bulan</option>
                                    <option value="">6 Bulan</option>
                                    <option value="">12 Bulan</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                 <center><input type="button" id="button-purchase" class="cart-purchase" value="Beli Sekarang"></center> 
                                
                                <!-- The Modal -->
                                <div id="modal-purchase" class="modal">
                                    <!-- Modal content -->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <span class="close">&times;</span>
                                            <h2>Selamat Pelanggan yang Terhormat</h2>
                                        </div>
                                        <div class="modal-body">
                                            <img src="../file_image/smile.png" alt="" width="20%">
                                            <p>Transaksi anda berlangsung dengan sukses. Barang yang anda beli akan dikirim ke alamat anda dalam kurun waktu 3 hari. Terima kasih karena telah menggunakan layanan kami.</p><br><br>
                                            <a href="index.html" class="modal-button">Kembali ke Beranda</a>
                                            <a href="buy.html" class="modal-button">Lanjutkan Transaksi</a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                    
                </div>
            </div> 
            
            <!-- FOOTER -->
            <div class="row footer">
                <div class="col-10-percent"></div>
                <div class="col-20-percent">
                    <h4 class="footer-title">ABOUT US</h4>
                    <h5 class="footer-content">Profile</h5>
                    <h5 class="footer-content">Costumer Review</h5>
                </div>
                <div class="col-20-percent">
                    <h4 class="footer-title">HELP AND SUPPORT</h4>
                    <h5 class="footer-content">Shopping Guide</h5>
                    <h5 class="footer-content">Payment Guide</h5>
                    <h5 class="footer-content">Product &amp; Shipping Policy</h5>
                    <h5 class="footer-content">FAQ</h5>
                </div>
                <div class="col-20-percent">
                    <h4 class="footer-title">SERVICES</h4>
                </div>
                <div class="col-20-percent">
                    <h4 class="footer-title">CONTACT US</h4>
                    <h5 class="footer-content">daisetsunakama@gmail.com</h5>
                </div>
                <div class="col-10-percent"></div>
            </div> 

        </div>
        
        <script src="../file_js/angular.min.js"></script>
        <script src="../file_js/script.js"></script>
        <script src="../file_js/modal.js"></script>
    </body>
</html>
